<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center ">
    <img src="assets/menu/assets/img/labo.jpg" width="75px" height="75px">
  </div>
  <!--detail labo-->
  <div class="col-md-4 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{laboDt.codeFiscal}}</div>
        <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{laboDt.nomLabo}}</div>
        <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{laboDt.email}}</div>
        <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{laboDt.siteWeb}}</div>
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-11">{{laboDt.numTel}}</div>
      </div>



    </div>
  </div>
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn btn-link"  (click)=" modifierLabo()">
          <i class="fas fa-pencil-alt"></i>&nbsp;modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn btn-link text-danger" data-toggle="modal" [attr.data-target]="'#modalDeleteLabo' + laboDt.idLabo">
          <i class="fas fa-trash-alt"></i>&nbsp;supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn btn-link">
          <i class="fas fa-list-alt"></i>&nbsp;Details</button>
      </div>

    </div>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalDeleteLabo{{laboDt.idLabo}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Etes vous-sur de vouloir supprimer cette labo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >
          <i class="fas fa-ban"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) ="confirmerEtSupprimerLabo()">
          <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
      </div>
    </div>
  </div>
</div>



