
<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Fournisseur </h3>
<div style="margin-left: 20px;
margin-right: auto;
">
<div class="row mb-1 mr-0 custom-border" >
  <div class="col" >
  <div class="row">
  <div class="col-md-11">
      <label> <b> Nom : </b></label> {{fournisseurDt.nom}}
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <label> <b> Prenom : </b></label> {{fournisseurDt.prenom}}
</div>
</div>
<div class="row">
  <div class="col-md-11">
      <label> <b> TELEPHONE: </b></label> {{fournisseurDt.telephone}}
  </div>
</div>
<div class="row">
  <div class="col-md-11">
      <label> <b> ADRESSE: </b></label> {{fournisseurDt.adresse}}
  </div>
</div>
</div>
</div>
</div>

