<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Operation </h3>
<div style="margin-left: 20px;
margin-right: auto;
">
  <div>
    <label> <b> NUMERO COMPTE: </b></label> {{operationDTo.compte?.numeroCompte}}
  </div>
  <div>
    <label> <b> NATURE OPERATION: </b></label> {{operationDTo.natureOperation?.libNatureOperation}}
  </div>
  <div>
    <label> <b> MONTANT : </b></label>{{operationDTo.montant}} DH
  </div>
  <div>
    <label> <b> ANNEE: </b></label> {{operationDTo.annee}}
  </div>
  <div>
  <label> <b> DATE OPERATION: </b></label> {{operationDTo.dateOperation}}
</div>
  <div>
    <label> <b> DESCRIPTION OPERATION: </b></label> {{operationDTo.description}}
  </div>
</div>
