<div class="row mb-1 mr-0 ">
    <div class="col-md-1  p-1 text-center ">
      <img src="assets/menu/assets/img/employees.jpg " width="120px" height="120px">
    </div>

  <form class="form-inline my-2 my-lg-0">
  <div style="width: auto;padding: 60px">
    <button class="btn btn-outline-success text-center ml-lg-4" type="submit" >
      <i class="fas fa-search"></i> Chercher
    </button>

    <input style="margin-left:7px " class="form-control mr-sm-4" type="text" placeholder="Chercher avec CIN">
  </div>
  </form>

</div>



<!--
<div class="col-md-5 custom-border-right mb-1 mt-1 ">
    <div class="col">
           <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-11"> {{employeDt.nom}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-11">{{employeDt.prenom}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-11">{{employeDt.email}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-11">{{employeDt.cin}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-11">{{employeDt.salaire}} Dh</div>
        </div>
        <div class="row">
        <div class="col-md-2"><i class="fas fa-calendar-check blue-color"></i></div>
                <div class="col-md-1O">{{employeDt.date_embauchDate| date: 'dd/MM/yyyy'}} </div>
            </div>
        </div>
    </div>


detail type-analyse
<div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
            <div class="col-md-10">{{employeDt.adresse}}</div>

            <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
            <div class="col-md-10">{{employeDt.telephone}}</div>

            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{employeDt.labo?.nomLabo}} </div>

        </div>

    </div>
</div>
    </div>

    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-6 col-md-4">
                <button type="button" class="btn btn btn-link"  (click)=" modifierEmploye()">
                    <i class="fas fa-pencil-alt fa-lg"></i></button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn btn-link text-danger" data-toggle="modal" [attr.data-target]="'#modalDeleteEmploye' + employeDt.id_employe">
                    <i class="fas fa-trash-alt fa-lg"></i></button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn btn-link" (click)=" detailEmploye()" >
                    <i class="fas fa-list-alt fa-lg"></i></button>
            </div>

        </div>
    </div>

</div>
-->

<table style="padding: 0px;margin-right: 10px;height: 5px"
       class="table table-striped table-hover table-bordered ">
  <thead>
  <tr style="background-color: aquamarine">
    <th scope="col">NOM</th>
    <th scope="col">Prenom</th>
    <th scope="col">Email</th>
    <th scope="col">Cin</th>
    <th scope="col">Salaire</th>
    <th scope="col">date</th>
    <th scope="col">adress</th>
    <th scope="col ">Telephone</th>
    <th scope="col ">Labo</th>
    <th scope="col ">Actions</th>
  </tr>
  </thead>
  <tbody >
  <tr   >
    <td>{{ employeDt.nom }}</td>
    <td>{{ employeDt.prenom }}</td>
    <td>{{employeDt.email }}</td>
    <td>{{ employeDt.cin }}</td>
    <td>{{employeDt.salaire }}</td>
    <td>{{employeDt.date_embauchDate| date: 'dd/MM/yyyy'}} </td>
    <td>{{ employeDt.adresse }}</td>
    <td>{{ employeDt.telephone }}</td>
    <td>{{employeDt.labo?.nomLabo}}</td>
    <td >
      <div class="btn-group btn-group-sm mb-3" role="group" aria-label="Groupe de petits boutons">
        <button type="button" class="btn btn btn-link" (click)=" modifierEmploye()">
          <i  class="fas fa-pencil-alt text-left"></i>&nbsp;
        </button>
        <button type="button" class="btn btn btn-link text-danger" data-toggle="modal" [attr.data-target]="'#modalDeleteEmploye' + employeDt.id_employe">
          <i class="fas fa-trash-alt"></i>&nbsp;
        </button>

        <button type="button" class="btn btn btn-link" >
          <i class="fas fa-list-alt"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table><

<div class="modal fade" id="modalDeleteEmploye{{employeDt.id_employe}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Etes vous-sur de vouloir supprimer cet empolye?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"  >
              <i class="fas fa-ban"></i>&nbsp;Annuler</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"  (click) ="confirmerEtSupprimerEmploye()">
              <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
          </div>
      </div>
    </div>
</div>




