<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;" >  Details Article </h3>
<div style="margin-left: 100px;
margin-right: 100px;
">

<div class="row mb-1 mr-0 custom-border   " >
    <div class="col " >
    <div class="row custom-border ">
    <div style="margin-left: 250px; 
      ">

      <label> <b> NOM: </b></label> {{articleDt.nomArticle}}
  </div>
</div>

<div class="row custom-border">
<div style="margin-left: 250px">

<label> <b> Prix: </b></label>{{articleDt.prixArticle}}
</div>
</div>

<div class="row custom-border">
 <div style="margin-left: 250px">

    <label> <b> CodeBarre : </b></label> {{articleDt.codeBarre}}
</div>
</div>

<div class="row custom-border">
 <div style="margin-left: 250px">

    <label> <b> Type Article : </b></label> {{articleDt.typeArticle}}
</div>
</div>
</div>
</div>
