<div class="container my-container">
<div class="card row justify-content-md-center" >
  <div class="card-header text-center">
    <h2>Login</h2>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <input type="email" class="form-control"  placeholder="E-mail">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control"  placeholder="mot de pass">
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <a [routerLink]="['/register']" class="btn btn-link">s'inscrire</a>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-check"></i>&nbsp;se connecter</button>
      
    </div>
  </div>
</div>
</div>