<!-- Created By CodingNepal
<div class="container my-container">
    <div class="card row justify-content-md-center" >
      <div class="card-header text-center">
        <h2>Register</h2>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <input type="text" class="form-control"  placeholder="nom">
        </div>
          <div class="mb-3">
            <input type="email" class="form-control"  placeholder="E-mail">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control"  placeholder="mot de passe">
          </div>
        <div class="mb-3 d-flex justify-content-between">
            <a [routerLink]="['/login']" class="btn btn-link">se connecter</a>
            <button type="button" class="btn btn-primary">
                <i class="fas fa-check"></i>&nbsp;s'inscrire</button>
         
          
          
        </div>
      </div>
    </div>
    </div>  -->


    <!DOCTYPE html>
<html>
  <head>
    <title>Sign Up </title>
  </head>
  <body>
   
    <div class="wrapper" >
        <div class="title">
            Sign Up Form
         </div>
         <form action="#">
            <div class="field">
                <input type="text" id="name" name="name" required>
                <label>Name</label>
             </div>

             <div class="field">
                <input type="text" id="email" name="email" required>
                <label>Email</label>
             </div>
             <div class="field">
                <input type="password" id="password" name="password" required>
                <label>Password</label>
             </div>
             <div class="field">
                <input type="password" id="confirm-password" name="confirm-password" required>
                <label>Confirm Password</label>
             </div>
             <div class="field">
                <input type="text" id="cin" name="cin" required>
                <label>CIN</label>
             </div>
             <div class="field">
                <input type="tel" id="telephone" name="telephone" required>
                <label>Telephone</label>
             </div>
             <div class="field">
                <input type="submit" value="Sign Up">
             </div> 
    </form>
    </div>
  </body>
</html>
