
<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Bon Commande </h3>
<div style="margin-left: 100px;
margin-right: 100px;
">

<div class="row mb-1 mr-0 custom-border  " >
  <div class="col" >
  <div class="row custom-border ">
  <div style="margin-left: 250px;
    ">
    <label> <b > Quantite   : </b></label> {{bonCommandeDt.quantiteCommande}}
</div>
</div>
<div class="row custom-border">
<div style="margin-left: 250px">
    <label> <b>  DATE       : </b></label>{{bonCommandeDt.dateCommande| date: 'dd/MM/yyyy' }}
</div>
</div>
<div class="row custom-border">
  <div style="margin-left: 250px">
      <label> <b> Fournisseur: </b></label> {{bonCommandeDt.fournisseur?.nom}}
  </div>
</div>
<div class="row custom-border">
  <div style="margin-left: 250px">
    <label> <b> Article    : </b></label> {{bonCommandeDt.article?.nomArticle}}
</div>
</div>
</div>
 

 
</div>
    




