
<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Bon Commande </h3>
<div style="margin-left: 20px;
margin-right: auto;
">

   
  <div>
    <label> <b> Quantite: </b></label> {{bonCommandeDt.quantiteCommande}}
</div>
<div>
    <label> <b> DATE : </b></label>{{bonCommandeDt.dateCommande| date: 'dd/MM/yyyy' }}
</div>
  <div>
      <label> <b> Fournisseur: </b></label> {{bonCommandeDt.fournisseur?.nom}}
  </div>
  <div>
    <label> <b> Article: </b></label> {{bonCommandeDt.article?.nomArticle}}
</div>
 

 
</div>
    




