<div class="col">
    <div class="row m-3 mr-2 ">
      <div class="col-md-6 p-0">
        <h1>liste des Fournisseurs</h1>
      </div>
      <div class="col-md-6 text-right">
        <app-boutton-action
          (clickEvent)="nouveauFournisseur()"
  
        ></app-boutton-action>
  
      </div>
    </div>
    <div class="col m-3">
      <app-detail-fournisseur
  
        *ngFor="let fourn of listeFournisseurs"
        [fournisseurDto]="fourn"
  
      ></app-detail-fournisseur>
    </div>
  </div>
  <div class="row mb-3" >
    <div class="col md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
  
  
  
  
