<div class="col">
  <div class="col-md-12 mb-3 mt-3">
    <img src="assets/menu/assets/img/patients.jfif"  class="rounded-circle" width="200px" height="200px">
  </div>
  <div class="col-md-12">
    <div class="col-md-12">
      <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Information D'un Labo</h3>
    </div>
    <div class="col-md-12">
      <form>

        <div class="row">
          <div class="col mb-3">
            <input type="text" class="form-control" placeholder="nomLabo" name="nomLab" >
          </div>
          <div class="col ">
            <input type="text" class="form-control" placeholder="codeFiscal" name="codeFiscal" >
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Telephone" name="numTel" >
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="E-mail" name="email" >
          </div>
          <div class="col">
            <input type="email" class="form-control"  placeholder="site Web" name="siteWeb" >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3" (click)="cancel()">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" >
      <i class="fas fa-save"></i>&nbsp;
      Enregitrer
    </button>
  </div>
</div>








